 Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

my_string= "Shivam"
my_list= ["Aakash", 34.34, 2+4J, 98, True]
my_float= 39.33
my_tuple= ("Aakash", 34.34, 2+4J, 98, True)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

(i) var1=' '   In var1 '  '  inverted comma is denoted to string data type.
(ii) var2= ‘[ DS , ML , Python]’  In var2 ' ' inverted comma is denoted to string data type.
(iii) var3=  [ ‘DS’ , ’ML’ , ‘Python’ ] In var3 [  ] bracket is denoted the list data type.
(iv) var4= 1.  In var4 . dot value is denoted that this is float data type.

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

These 4 are the arthimetic operators where :
(i) / division opertor  where left operand divides by the right operand
    for example- 4/2 = 2

(ii) % modulus operator where modulus operator gives he remainder after dividing the left operand to the right operand
    for example- 10%4= 2


(iii) // floor divison operator where floor division  divides two number but gives the quotient but removes the decimal place but in case of negative value it floors the no to far from zero.
     for example- 15//7= 2

(iv) ** exponent operator  where exponent operator uses to return exponential value (power)
    for example- 5**3= 125

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [2]:
my_list= ['shivam', True , False, 94.54, 7+2j]
for i in my_list:
        print(i,type(i))

shivam <class 'str'>
True <class 'bool'>
False <class 'bool'>
94.54 <class 'float'>
(7+2j) <class 'complex'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [28]:
My_list= list(range(1,26))
for i in My_list:
    print(i)
    if i%3==0:
        print(f" Yes number {i} is divisible by 3")
    else:
            print(f" Number {i} is not divisible by 3")

1
 Number 1 is not divisible by 3
2
 Number 2 is not divisible by 3
3
 Yes number 3 is divisible by 3
4
 Number 4 is not divisible by 3
5
 Number 5 is not divisible by 3
6
 Yes number 6 is divisible by 3
7
 Number 7 is not divisible by 3
8
 Number 8 is not divisible by 3
9
 Yes number 9 is divisible by 3
10
 Number 10 is not divisible by 3
11
 Number 11 is not divisible by 3
12
 Yes number 12 is divisible by 3
13
 Number 13 is not divisible by 3
14
 Number 14 is not divisible by 3
15
 Yes number 15 is divisible by 3
16
 Number 16 is not divisible by 3
17
 Number 17 is not divisible by 3
18
 Yes number 18 is divisible by 3
19
 Number 19 is not divisible by 3
20
 Number 20 is not divisible by 3
21
 Yes number 21 is divisible by 3
22
 Number 22 is not divisible by 3
23
 Number 23 is not divisible by 3
24
 Yes number 24 is divisible by 3
25
 Number 25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

First we understand mutability- What is mutability?

The property of data objects can be modified or not in the same memory location where they are store is called mutability.

second one is Mutable. If the memory location remains the same, when the data object is modified, it means it is mutable. 

And how to check the memory location were data stored here is a inbuilt function in python - id ()

a=[10,25,59]
id(a)
140215187582144
a[2]= 45
print(a)
[10, 25, 45]
140215187582144

Notice- the memory location has not change the memory loacation is remains same (140215187582144) after and before changing in variable that called a mutable object.

also notice- that list is also mutable. that location can't be modified after changing the variable.

Secand example- Immutable object- (reverse of mutable.)

if the memory location can be changed after changing the variable that's called this is a Immutable object.

let see an example of an immutable object.

example- b= (14,15,18)
    
  
# print(type(b))
# <class 'tuple'>
# id(b)
# 140215239733440
# b[1]=12
# error syntax

that's means the tuple is immutable object

here is the example of immutable or mutable -
                                             (Immutable)      ( Mutable )
                                             
                                               numeric          Dictonary
                                               string           list
                                               tuple            set